
*.xcuserstate

*.xcbkptlist

DemoCollect.xcodeproj/xcuserdata/smalllixin.xcuserdatad/xcschemes/xcschememanagement.plist

DemoCollect.xcodeproj/xcuserdata/smalllixin.xcuserdatad/xcschemes/DemoCollect.xcscheme
